<div class="card-movie">
  <div class="card-body">
    <h5 class="card-title"><%= movie.name %></h5>
    <% if show_button %>
      <%= link_to "Mostrar película", movie, class: "btn btn-outline-info" %>
    <% end %>
  </div>
</div>

