<h1>Nueva Película</h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <%= render "form", movie: @movie %>
      <br>
    </div>
  </div>
  <%= link_to "Volver a lista dé pelculas", movies_path, class: "btn btn-secondary mt-3" %>
</div>
